@use "../src/assets/styles/variables" as *;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $primary-font;
  .app__header {
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  .employees {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
  }
}

@media screen and (min-width: 1080px) {
  .employees {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .employees {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1480px) {
  .employees {
    grid-template-columns: repeat(5, 1fr);
  }
}
